<header class="header">
  <div class="header-section container">
    <nav class="header-nav">
      <a class="main-logo link" href="./index.html">
        
        <div class="logo_box">
          <picture>
            <source
              srcset="
                ./img/header/logo_tab_1x.png 1x,
                ./img/header/logo_tab_2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/header/logo_tab_1x.png 1x,
                ./img/header/logo_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/header/logo_tab_1x.png" alt="logo" class="logo_image">
          </picture>
          
        </div>
        <p class="icon-text">thewatchspot</p>
      </a>

      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="#about"> About us </a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#catalog"> Catalog </a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#sale"> sale </a>
        </li>
      </ul>
    </nav>
    <address class="header-contact">
      <a class="item-contact link" href="tel:+380684439426">
        +380 (68) 443-94-26
      </a>
    </address>

    <div class="btn-box">
      <button class="menu-burger-btn" aria-label="menu burger button" data-menu-open type="button">
        <svg class="icon_burger">
          <use href="./img/icons.svg#icon-gg_menu-left"></use>
        </svg>
      </button>
    </div>

  </div>
</header>
