<header class="header">
  <section class="header-section ">
    <nav class="header-nav">
      <a class="main-logo link" href="">
        <svg class="icon-logo">
          <use href="../img/icons.svg#icon-logo-1"></use>
        </svg>
        <p class="icon-text">thewatchspot</p>
      </a>

      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href=""> About us </a>
        </li>
        <li class="header-item">
          <a class="header-link link" href=""> Catalog </a>
        </li>
        <li class="header-item">
          <a class="header-link link" href=""> sale </a>
        </li>
      </ul>
    </nav>
    <address class="header-contact">
      <a class="item-contact link" href="tel:+380684439426">
        +380 (68) 443-94-26
      </a>
    </address>

    <div class="btn-box">
      <button class="menu-burger-btn" type="button">
        <svg class="icon_burger">
          <use href="../img/icons.svg#icon-gg_menu-left"></use>
        </svg>
      </button>
    </div>

  </section>
</header>
