<div class="mob-menu mob-container is-hidden" data-menu>
  <div class="top-div">
    <a class="mob-menu-logo link" href="./index.html">
      <img src="./img/header/logo_tab_1x.png" alt="logo" class="logo_image">
      <p class="icon-text">thewatchspot</p>
    </a>
    <button class="close_menu_btn" aria-label="button close menu" data-menu-close type="button">
      <svg class="icon-btn-menu">
        <use href="./img/icons.svg#icon-close_btn"></use>
      </svg>
    </button>
  </div>
  <nav>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a href="#about" class="mob-menu-anchor link">About us</a>
      </li>
      <li class="mob-menu-item">
        <a href="#catalog" class="mob-menu-anchor link">Catalog</a>
      </li>
      <li class="mob-menu-item">
        <a href="#sale" class="mob-menu-anchor link">Sale</a>
      </li>
    </ul>
  </nav>
</div>