<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-close" aria-label="button-close" data-modal-close>
      <svg class="modal-button-icon">
        <use
          href="./img/icons.svg#icon-close_btn" class="social-list-icono"></use>
      </svg>
    </button>

    <div class="modal-wrapper">
      <div class="modal-watch-wrapper">
        <img
          srcset="./img/watches/watch1.webp, ./img/watches/watch1@2x.webp 2x"
          src="./img/watches/watch1.jpg"
          alt="Watch"
          width="276"
          height="274"
          class="modal-watch-img"
        />
        <p class="modal-watch-name">
          Tube Watch S42 Date Steel With Black Case
        </p>
        <span class="modal-watch-price">€395</span>
      </div>

      <div class="madal-form-wrapper">
        <form class="modal-form">

            
            <div class="modal-input-wrapper">
              <input
                type="text"
                name="name"
                id="name"
                pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ\s]*"
                placeholder="Enter your full name"
                class="form-input"
                autocomplete="off"
                required
              />
              <label for="name" class="form-label">Full name</label>
            </div>



           
            <div class="modal-input-wrapper">
              <input
                type="email"
                name="email"
                id="email"
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                placeholder="Enter your email"
                class="form-input"
                autocomplete="off"
                required
              />
              <label for="email" class="form-label">Email</label>
            </div>



            
            <div class="modal-input-wrapper">
              <input
                type="tel"
                id="card"
                pattern="[0-9\s]{13,19}"
                autocomplete="off"
                maxlength="19"
                placeholder="Enter card"
                class="form-input"
                required
              />
              <label for="card" class="form-label">Card number</label>
            </div>


          <div class="textarea-field">
            <label for="comment" class="form-label-comments ">Comments</label>
            <textarea
              class="modal-textarea"
              name="comment"
              id="comment"
              placeholder="Enter your text"
            ></textarea>
          </div>

          <button class="button modal-button">submit</button>

          <p class="modal-policy-text">
            By clicking on “Submit” button, you agree to our Privacy Policy, and
            allow Promodo to use this information for marketing purposes.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
