<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-close" data-modal-close>
      <svg class="modal-button-icon">
        <use
          href="./img/icons.svg#icon-close_btn" class="social-list-icono"></use>
      </svg>
    </button>

    <div class="modal-wrapper">
      <div class="modal-watch-wrapper">
        <img
          srcset="./img/watches/watch1.webp, ./img/watches/watch1@2x.webp 2x"
          src="./img/watches/watch1.jpg"
          alt="Watch"
          width="276"
          height="274"
          class="modal-watch-img"
        />
        <p class="modal-watch-name">
          Tube Watch S42 Date Steel With Black Case
        </p>
        <span class="modal-watch-price">€395</span>
      </div>

      <div class="madal-form-wrapper">
        <form class="modal-form">
          <div class="form-field">
            <label for="name" class="form-label">Full name</label>
            <div class="modal-input-wrapper">
              <input
                type="text"
                name="name"
                id="name"
                pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ\s]*"
                placeholder="Enter your full name"
                class="form-input"
              />
            </div>
          </div>

          <div class="form-field">
            <label for="email" class="form-label">Email</label>
            <div class="modal-input-wrapper">
              <input
                type="email"
                name="email"
                id="email"
                pattern="^(?:4[0-9]{3}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}|5[1-5][0-9]{2}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}|6(?:011|5[0-9][0-9])(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{1,4}|3[47][0-9]{2}(?:\s|-)?[0-9]{6}(?:\s|-)?[0-9]{5}|3(?:0[0-5]|[68][0-9])[0-9](?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}(?:\s|-)?[0-9]{4}|(?:2131|1800|35\d{3})\d{11})$"
                placeholder="Enter your email"
                class="form-input"
              />
            </div>
          </div>

          <div class="form-field">
            <label for="card" class="form-label">Card number</label>
            <div class="modal-input-wrapper">
              <input
                type="tel"
                inputmode="numeric"
                pattern="[0-9\s]{13,19}"
                autocomplete="cc-number"
                maxlength="19"
                placeholder="Enter card"
                class="form-input"
              />
            </div>
          </div>

          <div class="textarea-field">
            <label for="comment" class="form-label">Comments</label>
            <textarea
              class="modal-textarea"
              name="comment"
              id="comment"
              placeholder="Enter your text"
            ></textarea>
          </div>

          <button class="button modal-button">submit</button>

          <p class="modal-policy-text">
            By clicking on “Submit” button, you agree to our Privacy Policy, and
            allow Promodo to use this information for marketing purposes.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
