<section class="new-watches-section">
    <div class="container">
        <h2 class="new-watches-title">New watches</h2>
        <p class="new-watches-text">Green And Bronze—The Match Made In Heaven</p>
        <ul class="new-watches-list">
            <li class="new-watches-item">
                <picture>
                    <source srcset="./img/new-watches/goldwatch.jpg 1x,
                                    ./img/new-watches/goldwatch-2x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/new-watches/goldwatch-tablet.jpg 1x,
                                    ./img/new-watches/goldwatch-tablet2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/new-watches/goldwatch-mobile.jpg 1x,
                                    ./img/new-watches/goldwatch-mobile2x.jpg 2x" media="(max-width: 767px)" />
                    <img class="new-watches-photo" src="../img/new-watches/goldwatch.jpg" alt="goldwatch" width="576px" height="422px">
                </picture>
        
            </li>
            <li class="new-watches-item">
                <picture>
                    <source srcset="./img/new-watches/blackwatch.jpg 1x,
                                    ./img/new-watches/blackwatch2x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/new-watches/blackwatch-tablet.jpg 1x,
                                    ./img/new-watches/blackwatch-tablet-2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/new-watches/blackwatch-mobile.jpg 1x,
                                    ./img/new-watches/blackwatch-mobile2x.jpg 2x" media="(max-width: 767px)" />
                <img class="new-watches-photo" src="../img/new-watches/blackwatch.jpg"
                    alt="blackwatch" width="576px" height="422px">
                    </picture>
            </li>
        </ul>
    </div>
</section>