<section class="sale section">
    <div class="container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-images">
            <ul class="aspect-list list">
                <li class="aspect-item">
                    <img 
                        srcset="./images/Rectangle1-2x.jpg 2x" 
                        src="./img/image 68.jpg" 
                        alt="watch" 
                        width="80"
                        height="80" 
                    />
                </li>
                <li class="aspect-item">
                    <img 
                        srcset="./images/Rectangle2-2x.jpg 2x" 
                        src="./img/image 67 (2).jpg" 
                        alt="watch" 
                        width="80"
                        height="80" 
                    />
                </li>
                <li class="aspect-item">
                    <img 
                        srcset="./images/Rectangle3-2x.jpg 2x" 
                        src="./img/image 65.jpg" 
                        alt="watch" 
                        width="80"
                        height="80" 
                    />
                </li>
                <li class="aspect-item">
                    <img 
                        srcset="./images/Rectangle3-2x.jpg 2x" 
                        src="./img/image 66.jpg" 
                        alt="watch" 
                        width="80"
                        height="80" 
                    />
                </li>
            </ul>
            <img 
                srcset="./images/Rectangle3-2x.jpg 2x" 
                src="./img/image main.jpg" 
                alt="watch" 
                width="235"
                height="350" 
            />
        </div>

        <div class="sale-gwbpfm">
            <h3 class="gwbpfm">Greenlane Watch By Police For MenHT</h3>
            <div class="sale-price">
                <p class="sale-prod">Product tag: PEWJK2227003</p>
                <p>€700 €1000</p>
            </div>    
        </div>

        <div class="sale-descr">    
            <h4 class="descr">Description</h4>
            <p class="sale-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile
                multifunction design
                that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
                timepiece
                exhibits a contrast through a black IP bracelet with matching crown and pushers.
            </p>
        </div>

        <div class="sale-descr">   
            <h4 class="descr">DETAILS & FEATURESTION</h4>
            <ul class="sale-text">
                <li >Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>WaterResistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>                                  
            </ul>
        </div>     
    </div>
</section>