<section class="sale" id="sale">
    <div class="container ">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-container">
            <div class="sale-images">
                <ul class="aspect-list list">
                    <li class="aspect-item">
                        <picture>
                            <source
                                srcset="
                                    ./img/sale/image-69-mob.jpg    1x,
                                    ./img/sale/image-69-mob_2x.jpg 2x
                                " 
                                media="(min-width: 320px)" 
                            />
                            <source srcset="
                                    ./img/sale/image-69-tab.jpg    1x,
                                    ./img/sale/image-69-tab_2x.jpg 2x
                                " 
                                media="(min-width: 768px)" 
                            />
                            <img 
                                src="./img/sale/image-69-mob.jpg" 
                                alt="watch" 
                                width="146"
                                height="146"
                                
                                
                                />
                        </picture>
                        
                    </li>
                    <li class="aspect-item">
                        <picture>
                            <source
                                srcset="
                                    ./img/sale/image-64-mob.jpg    1x,
                                    ./img/sale/image-64-mob_2x.jpg 2x
                                " 
                                media="(min-width: 320px)" 
                            />
                            <source 
                                srcset="
                                    ./img/sale/image-64-tab.jpg    1x,
                                    ./img/sale/image-64-tab_2x.jpg 2x
                                " 
                                media="(min-width: 768px)" 
                            />
                            <img 
                                src="./img/sale/image-64-mob.jpg" 
                                alt="watch" 
                                width="146"
                                height="146"

                                
                            />
                        </picture>
                    </li>
                    <li class="aspect-item">
                        <picture>
                            <source 
                                srcset="
                                    ./img/sale/image-65-mob.jpg    1x,
                                    ./img/sale/image-65-mob_2x.jpg 2x
                                " 
                                media="(min-width: 320px)"
                            />
                            <source 
                                srcset="
                                    ./img/sale/image-65-tab.jpg    1x,
                                    ./img/sale/image-65-tab_2x.jpg 2x
                                " 
                                media="(min-width: 768px)" 
                            />
                            <img 
                                src="./img/sale/image-65-mob.jpg" 
                                alt="watch" 
                                width="146"
                                height="146" 
                                
                            />
                        </picture>
                    </li>
                    <li class="aspect-item">
                        <picture>
                            <source
                                srcset="
                                    ./img/sale/image-66-mob.jpg    1x,
                                    ./img/sale/image-66-mob_2x.jpg 2x
                                " 
                                media="(min-width: 320px)" 
                            />
                            <source srcset="
                                    ./img/sale/image-66-tab.jpg    1x,
                                    ./img/sale/image-66-tab_2x.jpg 2x
                                " 
                                media="(min-width: 768px)" 
                            />
                            <img 
                                src="./img/sale/image-66-mob.jpg" 
                                alt="watch" 
                                width="146"
                                height="146" 
                                
                            />
                        </picture>
                    </li>
                </ul>
                <picture>
                    <source
                        srcset="
                            ./img/sale/image-main-mob.png    1x,
                            ./img/sale/image-main-mob_2x.png 2x
                        "
                        media="(min-width: 320px)" 
                    />
                    <source
                        srcset="
                            ./img/sale/image-main-tab.png    1x,
                            ./img/sale/image-main-tab_2x.png 2x
                        "
                        media="(min-width: 768px)" 
                    />
                    <img 
                        class="sale-img" 
                        src="./img/sale/image-main-mob.png" 
                        alt="watch"
                        width="406"
                        height="" 
                        
                    />
                </picture>
            </div>

            <div class="thumb-descr">
                <div class="sale-gwbpfm">
                    <h3 class="gwbpfm">Greenlane Watch By Police For MenHT</h3>
                    <div class="sale-price">
                        <p class="sale-prod">Product tag: PEWJK2227003</p>
                        <p class="discount">€700 <span class="full">€1000</span></p>
                    </div>
                </div>

                <div class="sale-descr">
                    <h4 class="descr">Description</h4>
                    <p class="sale-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features
                        a versatile
                        multifunction design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial.
                        The
                        timepiece
                        exhibits a contrast through a black IP bracelet with matching crown and pushers.
                    </p>
                </div>

                <div class="sale-descr">
                    <h4 class="descr">Details & Featurestion</h4>
                    <ul class="sale-text">
                        <li>Gender: man</li>
                        <li>Size: 46x54.5mm</li>
                        <li>Case Colour: Steel</li>
                        <li>Band Material: Metal</li>
                        <li>Case Material: Metal</li>
                        <li>Features: Multifunction</li>
                        <li>WaterResistant: 5 (ATM)</li>
                        <li>Band Colour: Steel</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</section>