.about-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}

.about-img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  /* .container {
    max-width: 1176px;
  } */

  .about-wrapp {
    max-width: 1176px;
  }
  .about-title {
    margin-right: 110px;
    margin-bottom: 0;
  }

  /* .about-text {
    min-width: 439px;
  } */

  .about-img {
    width: 892px;
    margin-left: auto;
  }
  .about-list {
    gap: 40px;
    padding-right: 33px;
  }
}
