.catalog {
  padding: 80px 0;
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--black-color);
}

.catalog-watch-name {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-bottom: 4px;
}

.catalog-watch-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.catalog-link:nth-last-child(-n + 4) {
  display: none;
}

.catalog-link {
  width: 335px;
}

.catalog-watch-img {
  margin-left: auto;
  margin-right: auto;
  padding: 43px 0;
  margin-bottom: 14px;
}

.catalog-button {
  font-family: 'Epilogue', sans-serif;
  display: block;
  padding: 14px 28px;
  background: var(--dark-green);
  border: 1px solid transparent;
  border-radius: 8px;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .catalog {
    padding: 128px 0;
  }

  .catalog-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 32px;
  }

  .catalog-link {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 52px;
    padding-right: 52px;
  }

  .catalog-link:nth-last-child(-n + 4) {
    display: block;
  }

  .catalog {
    padding: 80px 0 210px;
  }

  .catalog-link {
    width: 276px;
  }

  .catalog-list {
    row-gap: 64px;
    column-gap: 24px;
    margin-top: 64px;
    margin-bottom: 80px;
  }
}
