@media screen and (max-width: 767px) {
  .title-hero {
    width: 100%;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    line-height: calc(40 / 38);
    letter-spacing: -0.04em;
    color: #ffffff;
    margin-bottom: 60px;
  }
  .hero {
    min-width: 335px;
    padding-top: 69px;
    padding-bottom: 40px;
    background: var(--black-color);
  }
  .swiper {
    margin-left: 0;
    width: 266px;
    height: 200px;
    margin-bottom: 20px;
  }
  .btn-prev-slider {
    width: 40px;
    height: 40px;
  }
  .icon-swiper {
    fill: var(--white-color);
  }
  .swiper-pagination {
    display: flex;
  }
  .img-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-swiper {
    width: 18px;
    height: 18px;
  }
  .button-prev {
    display: block;
    margin-top: 20px;
    width: 40px;
    height: 40px;
  }
  .button-next {
    display: block;
    margin-top: 20px;
    width: 40px;
    height: 40px;
  }
  .btn-prev-slider {
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .btn-next-slider {
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .hero-text {
    display: block;
    margin-left: auto;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--white-color);
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 248px;
  }
  .img-hero {
    width: 100%;
  }
  .page-number {
    display: flex;
    margin-left: 104px;
  }
  .number-left {
    display: flex;
    align-items: center;
    font-family: var(--prime-fonts);
    margin-right: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .number-right {
    display: flex;
    align-items: center;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .chevron:hover,
  .chevron:focus {
    color: rgba(255, 255, 255, 0.5);
  }

  .number-right::before {
    content: '';
    display: block;
    margin-right: 6px;
    width: 32px;
    height: 1px;
    background-color: #ffffff;
  }
  .btn {
    display: flex;
    align-items: center;
    align-content: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-right: 12px;
  }
  .btn:hover,
  .btn:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .cont-btn {
    display: flex;
  }
  .contr-hero-btn {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .title-hero {
    font-family: var(--prime-fonts);
    max-width: 653px;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: calc(62 / 60);
    letter-spacing: -0.04em;
    color: var(--white-color);
    margin-bottom: 60px;
  }
  .hero {
    padding-top: 98px;
    padding-bottom: 64px;
    background: var(--black-color);
  }
  .hero-flex {
    position: relative;
  }
  .swiper {
    margin-left: 0;
    width: 436px;
    height: 255px;
    margin-bottom: 20px;
  }
  .page-number {
    display: flex;
    margin-left: 272px;
  }
  .number-left {
    display: flex;
    align-items: center;
    font-family: var(--prime-fonts);
    margin-right: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .number-right {
    display: flex;
    align-items: center;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .chevron:hover,
  .chevron:focus {
    color: rgba(255, 255, 255, 0.5);
  }

  .number-right::before {
    content: '';
    display: block;
    margin-right: 6px;
    width: 32px;
    height: 1px;
    background-color: #ffffff;
  }
  .btn {
    display: flex;
    align-items: center;
    align-content: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-right: 12px;
  }
  .btn:hover,
  .btn:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .cont-btn {
    display: flex;
  }
  .contr-hero-btn {
    display: flex;
    flex-direction: row;
  }
  .swiper-pagination {
    display: flex;
  }
  .img-slide {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-swiper {
    width: 18px;
    height: 18px;
  }
  .btn-prev-slider {
    background: transparent;
  }
  .contr-flex-tab {
    display: flex;
  }
  .hero-text {
    display: block;
    position: absolute;
    right: 0;
    top: 330px;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--white-color);
    margin-left: 20px;
    max-width: 248px;
  }
  .img-hero {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .title-hero {
    position: relative;
    max-width: 750px;
    margin-bottom: 43px;
  }
  .hero-text {
    right: 0;
    left: unset;
    top: 0;
    max-width: 282px;
  }
  .img-hero {
    margin-top: 0;
  }
}
