:root {
  --prime-fonts: 'Epilogue', sans-serif;
  --dark-green: #1e2827;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Epilogue;
  src: url(/fonts/Epilogue-Light.woff2), url(/fonts/Epilogue-Light.woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Epilogue;
  src: url(/fonts/Epilogue-SemiBold.woff2), url(/fonts/Epilogue-SemiBold.woff);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 335px;
    margin-right: auto;
    margin-left: auto;
  }
  .title {
    width: 100%;
    font-family: var(--prime-fonts);
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    line-height: calc(40 / 38);
    letter-spacing: -0.04em;
    color: #ffffff;
    margin-bottom: 60px;
  }
  .hero {
    min-width: 335px;
    padding-top: 69px;
    padding-bottom: 40px;
    background: #141414;
  }
  .swiper {
    margin-left: 0;
    width: 266px;
    height: 200px;
    margin-bottom: 20px;
  }
  .btn-prev-slider {
    width: 40px;
    height: 40px;
  }
  .icon-swiper {
    fill: #ffffff;
  }
  .swiper-pagination {
    display: flex;
  }
  .img-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-swiper {
    width: 18px;
    height: 18px;
  }
  .button-prev {
    display: block;
    margin-top: 20px;
  }
  .btn-prev-slider {
    width: 32px;
    height: 32px;
    background: tomato;
  }
  .hero-text {
    display: block;
    margin-left: auto;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 248px;
  }
  .img-hero {
    width: 100%;
  }
  .nnn {
    margin-top: 40px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .contr-hero-btn {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-family: var(--prime-fonts);
    max-width: 653px;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: calc(62 / 60);
    letter-spacing: -0.04em;
    color: #ffffff;
    margin-bottom: 60px;
  }
  .hero {
    padding-top: 98px;
    padding-bottom: 64px;
    background: #141414;
  }
  .swiper {
    margin-left: 0;
    width: 436px;
    height: 255px;
  }
  .swiper-pagination {
    display: flex;
  }
  .img-slide {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-swiper {
    width: 18px;
    height: 18px;
  }
  .btn-prev-slider {
    background: transparent;
  }
  .contr-flex-tab {
    display: flex;
  }
  .hero-text {
    display: block;
    position: absolute;
    left: 476px;
    top: 425px;
    font-family: var(--prime-fonts);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-left: 20px;
    max-width: 248px;
  }
  .img-hero {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    padding-bottom: 80px;
  }
  .title {
    max-width: 750px;
    margin-bottom: 43px;
  }
  .hero-text {
    margin-left: 144px;
    left: 781px;
    top: 106px;
    max-width: 282px;
  }
}
