
.new-watches-section {
    background: #EFEFEF;
    padding-bottom: 40px;
    padding-top: 40px;
}

.new-watches-title {
    margin-bottom: 8px;

    font-weight: 300;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
}

.new-watches-text {
    width: 335px;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.new-watches-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

}



@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
    .new-watches-section {
        padding-bottom: 64px;
        padding-top: 64px;
    }

    .new-watches-text {
        width: 448px;
        font-size: 40px;
        line-height: 1.10;
    }

    .new-watches-list {
        flex-direction: row;
    }

}

@media screen and (min-width: 1280px) {
    .new-watches-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .new-watches-text {
        margin-bottom: 80px;
    }
        .new-watches-list{
            gap:24px;
        }
                .new-watches-section {
                    background: none;
                  
                }
